/***************
HOME PAGE
***************/

.systems {
  border-radius: 50px 70px 50px 70px;
  background: #1ad1ff;
  padding: 10px;
  width: 200px;
  height: 300px;
}




/***************
COLORS
***************/

/* site body */
body {
    background-color: #cce0ff;
    color: #000000;
}

/* green header */
header {
    background: #1ad1ff;
    border-color: #1ad1ff;
}

/* nav background on mobile */
nav {
    background: #1ad1ff;
}

/* logo text */
h1, h2 {
    color: #0d0d0d;
}

/* links */
a {
    color: #0d0d0d;
}

/* nav link */
nav a, nav a:visited {
    color: #fff;
}

/* selected nav link */
nav a:hover {
    color: #000000;
}